#ifndef CREDENTIALS_H_GUARD
#define CREDENTIALS_H_GUARD

#define WIFI_SSID "MYSSID"
#define WIFI_PASSWORD "MYPWD"
#define MQTT_URI "mqtts://a290xnacwq3uyu-ats.iot.us-east-2.amazonaws.com"
#define MQTT_HOSTNAME "a290xnacwq3uyu-ats.iot.us-east-2.amazonaws.com"
#define MQTT_PORT 8883

#endif
